/*Reset everything*/
* {
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*No scrollbar*/
::-webkit-scrollbar {
    width: 0; 
    background: transparent;
}

/* Background image*/
body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    border: 0;
    padding: 0;
}

/* Opacity layer*/
#site {
    background-color: rgba(0,0,0,0.5);
    min-width: 100vw;
    min-height: 90vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    margin: 0;
}

/* Text top */
.branding {
    text-align: center;
    font-size: 16px;
}

/* Navbar */
#navbar a {
    text-decoration: none;
}

#navbar ul {
    padding: 0px;
    margin: 0px;
}

#navbar {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    border: 0px;
    min-width: 20vw;
    max-width: 80vw;
    max-height: 20vh;
    margin: 0 auto 0 auto;
    padding-bottom: 3px;
    background-color: rgba(0,0,0,0.65);
    overflow: auto;
    border-radius: 10px 10px 0 0;
}

/* Buttons */
.button {
    padding-top: 0px;
    display: inline-block;
    list-style: none;
    border-bottom: solid 1px aqua;
    border-radius: 3px;
    width: 19%;
}

.button:hover {
    background-color:rgba(241, 94, 74, 0.507);
}

.button.active {
    border-bottom-color: rgb(138, 42, 42);
}

/* Main Container */
#main-container {
    min-height: 30vh;
    min-width: 20vw;
    max-width: 80vw;
    max-height: 60vh;
    margin: 0px auto 0 auto;
    background-color: rgba(0,0,0,0.65);
    overflow: auto;
    padding-top: 0px;
    border-radius: 0 0 10px 10px;
}

#content {
    text-align: center;
    font-size: 12pt;
    margin: 0px 10px;
}

/* Copyright */
#main-footer {
    display: inline-block;
    width: 100vw;
    min-height: 10vh;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,0.5);
}

#main-footer hr {
    min-width: 20vw;
    max-width: 80vw;
    margin: 10px auto;
    padding: 0px;
}

@media screen and (max-width:600px) {
    .button {
        width: 32%;
    }
    #main-container {
        max-width: 90vw;
    }
    #navbar {
        max-width: 90vw;
    }
    #main-footer hr {
        max-width: 90vw;
    }
}